<% provide :template, 'columns' %>
<% provide :title, "The Book" %>
<% provide :description, "Kate's book is now available" %>

<article>
  <h1>Book now available!</h1>

  <p>This is an entertaining read about Kate&#39;s long experience of gardening at &#39;Charnwood&#39;, a Yellow Book Garden in Nottinghamshire she has been developing since 1987. It is full of tips, stories, planting ideas and easy to follow explanations of how to be a successful gardener. It is beautifully illustrated with many colour photos of the garden through the seasons taken by Kevin Pyke, a world renowned plant scientist.</p>

  <p>It is £8.50 from Kate in person. If you'd like us to post one to you, contact Kate directly - <%= mail_to "kate@katescuttings.net" %>.</p>

  <p>A donation from the sale of every book will be made to Friends of Tollerton School.</p>
</article>

<aside class="page gallery" data-controller="lightbox">
  <%= link_to image_url('pages/book.jpg'), class: 'lightbox', data: { lightbox_target: 'item' } do %>
    <%= image_tag 'pages/book_small.jpg', alt: 'A photo of Kate holding two plants in her garden' %>
  <% end %>
</aside>
