<% provide :template, 'columns' %>

<article>
  <h1>Book now available!</h1>

  <p>The book is ready to go! It is £8.50 from Kate in person, or you can order online using the options to the right. For any other payment methods or wholesale enquiries, contact Kate directly - kate@katescuttings.net.</p>

  <p>This is an entertaining read about Kate&#39;s long experience of gardening at &#39;Charnwood&#39;, a Yellow Book Garden in Nottinghamshire she has been developing since 1987. It is full of tips, stories, planting ideas and easy to follow explanations of how to be a successful gardener. It is beautifully illustrated with many colour photos of the garden through the seasons taken by Kevin Pyke, a world renowned plant scientist.</p>

  <p>A donation from the sale of every book will be made to Friends of Tollerton School.</p>
</article>
