<% provide :template, 'columns' %>

<article>
  <h1>The Garden</h1>

  <p>Welcome to our garden. Peter and Kate Foale moved into Charnwood in South Notts with their child Kim, in August 1987. As time, money and fitness has been available they have gradually developed the acre of garden and continue to plan new areas. The backdrop of mature trees and countryside makes gardening here a joy.</p>

  <p>Through the gate the front garden is dominated on the right by a blue cedar, probably at least as old as the house (1950s). The clipped box came from a local nursery, Ivor Thompson and has, unfortunately, been ‘trimmed’ in places by Jamie the dog who sadly passed away in 2009 and was not a great gardener. Walking by the right hand side of the house are 2 weeping pears and opposite a border of ferns (and spring bulbs). At the back of the house on the right we planted a golden weeping birch again from Ivor Thompson.</p>

  <p>The mainly herbaceous border at the back of the house has penstemons, sedum, hardy geraniums and verberna bonariensis. Next to the patio with the umberella is an acer and hostas leading to a pergola (mind your head, the (David Austin Anniversary) rose is thorny and a little brick courtyard with pots full of plants whihc vary according to the seasons. This takes you through to the more formal garden, most of which was landscaped (Pegasus) and planted (Kate) in Spring 2002. At the end of the path you are taken to a &#39;secret garden&#39; with bamboo, magnolia, grasses and shrubs. The golden robinia was planted c1990.</p>

  <p>The yew hedge linking the house to the garage is now 12 years old. If you walk round the right hand side of the garage you will come to the pond, installed in August 2002 by Edd Seeley. Again, we are still experimenting with planting here in the horribly heavy clay with the expert help of our friend and gardeners David Wilson and Matt Pyke. A gunnera, hellebores and woodland planting is now established. The most recent introduction is a swamp cypress which quickly got its feet down into the damp soil.</p>

  <p>In 2009, Kates Mother died, a sad loss as she was a lovely Mum and Grandma and huge inspiration to Kate, especially in the garden. In her memory we asked our architect friend, Simon Wrigley, to draw up plans for a seaside garden, complete with a cobble &#39;beach&#39;, oak railway sleepers to provide some steps and a gravel garden where Kate has planted alpines, grasses, allium and some choice perennials. It is now complete and should look great in 2012. The garden is open through the NGS &#39;Yellow Book&#39; on 6 and 7 May 2012. We also open for groups and study days - email kate@katescuttings.net for more information.</p>

  <p>Look out for some interesting and unusual works of art throughout. Our latest acquisition is a four legged friend, Coco the foal. The stumpery at the front is still work in progress - Highgrove need not worry about the competition yet!</p>

  <p>There are so many people to say thank you to for helping me and Peter make ‘Charnwood’ what it is today. Below is a stab at it – but please let me know and forgive me if I’ve missed you out!
  Roughly chronologically, most recent first:</p>

  <ul>
    <li>Alan Hopcraft and Lauraine Baxendale for the African Hut with style and lots of ideas, help and fun;</li>
    <li>David Wilson and also Matt and Rob of All Seasons Gardening who don’t go too pale when I say ‘I’ve been thinking’, Brian Sleight before them;</li>
    <li>Kim Foale www.alliscalm.net for encouragement and the KC website; Roshana Rubin Mayhew www.roshanarubinmayhew.com for the gorgeous book design and Kevin Pyke for the beautiful photos that inspired the book;</li>
    <li>Aboreco for taking such good care of our lovely trees www.arboreco.co.uk ;</li>
    <li>Lizs Fradd and Wills and the Tollerton Gardening Club members for their gardening wisdom and support;</li>
    <li>All those who help us out when we have our open garden including Annette and David, Denise and Roger, Margaret, Friends of South Wolds www.friendsofsouthwolds.org.uk for lovely teas and students www.southwolds.co.uk for perfect mood setting music, and our kind neighbours on Cotgrave Lane for helping out with furniture and putting up with all the cars;</li>
    <li>Mary Thomas of the www.ngs.org.uk ;</li>
    <li>All our garden visitors for their kind words;</li>
    <li>Pat Wood for turning the weeping pears into living sculptures;</li>
    <li>Simon Wrigley for the seaside garden, he made my vision real and even better than I pictured and similarly Edd Seeley for the pond;</li>
    <li>Barbara Storrie, Tollerton Village newsletter editor for her support for ’Kates Cuttings’ www.tollerton.org ;
    Local plant nurseries, Moores, Sulney and Ivor Thompson - we all miss him;</li>
    <li>My mum.</li>
  </ul>
</article>

<aside class="page garden">
  <%= image_tag 'pages/garden-1.jpg' %>
  <%= image_tag 'pages/garden-2.jpg' %>
  <%= image_tag 'pages/garden-3.jpg' %>
  <%= image_tag 'pages/garden-4.jpg' %>
</aside>
