<% provide :template, 'columns' %>

<article>
  <h1>About Kate</h1>

  <p>Kate can offer advice about plants and planting schemes and gives a range of gardening talks including succession planning, the use of colour in the garden, plantswomen and men who have inspried her and why and what its like to be a 'yellow book' owner. Please contact her for more details.She is also an experienced garden writer.</p>

  <p>Kate has been a mad keen amateur gardener all her life. Both her parents were skilled gardeners, her Mum, Margaret Newton lovingly tended her herbaceous borders until her death in March 2009 just a few weeks short of her 89th birthday.</p>

  <p>Inspiration for Kates garden comes from the late Christopher Lloyd, Beth Chatto and more recently Piet Odolf. She is also dreaming of the day Monty Don turns up to visit 'Charnwood' to share their joint passion.</p>

  <p>When Kate is not in the garden, she is often reading gardening books. The latest, a Christmas gift from her husband and under-gardener, Peter, is Karel Capeks 'The Gardeners Year'. First published in 1929, it is both clever, funny and surprisingly contemporary: 'Let no-one think that real gardening is a bucolic and meditative occupation. It is an insatiable passion, like everything else to which a man gives his heart'.</p>

  <p>'Charnwood' joined the National Garden Scheme in 2009, it is situated just south of the River Trent in Nottinghamshire. A proportion on the proceeds from the open garden is given each year to Friends of South Wolds School, the local secondary school in Keyworth where Kate has been Chair of Governors since 1996.</p>

  <p>You can follow Kate on Twitter <%= link_to "@KatesCuttings", "https://twitter.com/KatesCuttings" %></p>
</article>

<aside class="page">
  <%= image_tag 'pages/kate.jpg', alt: 'A photo of Kate holding two plants in her garden' %>
</aside>
