<% provide :template, 'columns' %>
<% provide :title, "About Kate" %>
<% provide :description, "Meet Kate, a mad keen amateur gardener all her life" %>
<% provide :image, image_url('pages/kate_small.jpg') %>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "AboutPage",
  "name": "About Kate",
  "description": "Meet Kate Foale, a passionate amateur gardener who has been developing her garden at Charnwood in Nottinghamshire since 1987. Kate shares her love of plants, garden design, and the joy of creating an immersive garden experience.",
  "url": "<%= kate_url %>",
  "mainEntity": {
    "@type": "Person",
    "name": "Kate Foale",
    "description": "Kate Foale is a lifelong gardener and author based in Nottinghamshire, UK. She tends Charnwood, a one-acre cottage garden that was featured in the National Garden Scheme Yellow Book from 2009 to 2013.",
    "jobTitle": "Gardener and Author",
    "sameAs": [
      "https://twitter.com/KatesCuttings"
    ],
    "knowsAbout": ["Gardening", "Horticulture", "Garden Design"]
  }
}
</script>

<article>
  <h1>About Kate</h1>

  <p>Kate has been a mad keen amateur gardener all her life. She is keen to create a feeling of being completely enveloped in plants when walking round ‘Charnwood’. As the inspirational Derek Jarman so wisely decreed:</p>

  <blockquote>‘If a garden isn’t scruffy, forget it!</blockquote>

  <p>So a wander round the garden is an immersive experience, exuberant rather than excessively neat is the style. Big drifts of snowdrops, over 25 different kinds of daffodil, hardy cyclamen hellebores ferns abound in Spring. Summer brings clematis, roses, lilies and a wide range of hardy plants. Kate uses so called bedding plants including tobacco plants, cosmos and tithonia to create colourful, informal drifts in the borders, and she plants generous clumps of bright red dahlias in the ‘hot’ border for a long season of colour. Her latest love are shrub roses including several from the David Austin catalogue: ‘The Lark Ascending’, ‘Morning Mist’ and ‘Kew Gardens’ are now getting used to their new home and flowering prolifically in the nutritious, but heavy clay soil.</p>

  <p>Both Kate’s parents were skilled gardeners. Her Mum, Margaret Newton, lovingly tended her herbaceous borders until her death in March 2009 just a few weeks short of her 89th birthday.</p>

  <p>Inspiration for Kate&#39;s garden comes from the late Christopher Lloyd, Beth Chatto and more recently Piet Odolf. She is also dreaming of the day Monty Don turns up to visit &#39;Charnwood&#39; to share their joint passion.</p>

  <p>When Kate is not in the garden, she is often reading gardening books and researching local specialist nurseries on the internet. A Christmas gift from her husband (and under-gardener), Peter, is Karel Capeks &#39;The Gardener&#39;s Year&#39;. First published in 1929, it is clever, funny and surprisingly contemporary:</p>

  <blockquote>Let no-one think that real gardening is a bucolic and meditative occupation. It is an insatiable passion, like everything else to which a man gives his heart.</blockquote>

  <p>More recently Peter found her a copy of Beth Chatto&#39;s cheery and informative book about ‘Life in a Cottage Garden’ in an Oxfam Shop.  And her go-to book for relaxation, wisdom and joy is Monty Dons &#39;The Ivington Diaries&#39;; some of his wise words:</p>

  <blockquote>Unless you love the garden you are making, I don&#39;t think you can properly appreciate other gardens. Unless you are engaged in the day-to-day struggle to realise this huge outdoor work of art, you will not see beyond the surface of what other people are trying to achieve - or have achieved - in their gardens.</blockquote>

  <p>&#39;Charnwood&#39; joined the National Garden Scheme in 2009, it is situated just south of the River Trent in Nottinghamshire. The garden was in the &#39;Yellow Book&#39; from 2009 to 2013 but is not currently open for visitors: that will be under review in 2021.</p>

  <p>Kate can offer advice about plants and planting schemes and gives a range of gardening talks including succession planning, the use of colour in the garden, plantswomen and men who have inspired her and why and what it’s like to be a &#39;yellow book&#39; owner. Please contact her for more details. She is also an experienced garden writer.</p>

  <p>You can follow Kate on Twitter <%= link_to "@KatesCuttings", "https://twitter.com/KatesCuttings" %></p>
</article>

<aside class="page gallery" data-controller="lightbox">
  <%= link_to image_url('pages/kate.jpg'), class: 'lightbox', data: { lightbox_target: 'item' } do %>
    <%= image_tag 'pages/kate_small.jpg', alt: 'A photo of Kate holding two plants in her garden', loading: 'lazy', decoding: 'async' %>
  <% end %>
</aside>
