/* Colour Variables */
$primary: #5E0E56;
$dark-grey: #463D31;
$medium-grey: #534741;
$light-grey: #C2C2C2;
$lighter-grey: #f1f1f1;

$background-outer: #F9F5F1;
$background-inner: $lighter-grey;
$white: $lighter-grey;

/* Font stacks */
$garamond: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$georgia: Georgia, Times, "Times New Roman", serif;
