// Action Text / Trix editor styles
// Trix base styles loaded from CDN in layout

// Override trix.css's image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments.
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

// Luminous lightbox overrides
.lum-lightbox {
  background: rgba(0, 0, 0, 0.9) !important;
}
