@import "variables";

.almanac {
  font-family: $garamond;
  text-transform: uppercase;
  &__year {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem 1.5rem;
    @include for-tablet-portrait-up {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  h3, h4 {
    font-weight: 400;
  }
  h3 {
    font-size: 2.5714rem;
    margin-bottom: 0;
  }
  h3:first-child {
    margin-top: 0.5rem;
  }
  h4 {
    margin-bottom: 0.5rem;
  }
  img {
    width: 100%;
    max-width: 100%;
  }
}
