@import "variables";

.almanac {
  font-family: $garamond;
  text-transform: uppercase;
  margin-top: 1rem;
  &__year {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem 1.5rem;
    @include for-tablet-portrait-up {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  h3, h4 {
    font-weight: 400;
  }
  h3 {
    font-size: 2.5714rem;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }
  h3:first-child {
    margin-top: 0.5rem;
  }
  h4 {
    margin: 0 0 0.5rem;
  }
  &__month {
    margin-bottom: 0.75rem;
  }
  img {
    width: 100%;
    max-width: 100%;
  }
  a {
    text-decoration: none;
    &:hover {
      img {
        transform: scale(1.1);
        transition: all 0.25s;
      }
    }
  }
  &__earlier {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: none;
  }
  &__archive {
    margin-top: 0.75rem;
    text-transform: none;
    h5 {
      display: inline;
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
      color: $dark-grey;
    }
  }
  &__archive-months {
    a {
      color: $primary;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
