@import "variables";

.blog {
  margin-top: 1rem;
  margin-bottom: 5rem;
  h1 {
    margin: 0.5rem 0 1rem;
  }
  &__gallery {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  &__links {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: $primary;
      color: white;
      text-decoration: none;
      font-weight: 600;
      border-radius: 4px;
      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }
  &__link-older {
    margin-left: auto;
  }
}
