@import "variables";

.date {
  font-family: $garamond;
  font-size: 0.7143rem;
  color: $light-grey;
  text-align: center;
  background: linear-gradient(to bottom, $background-inner calc(50% - 0.5px), $light-grey calc(50% - 0.5px) calc(50% + 0.5px), $background-inner calc(50% + 0.5px));
  span {
    background-color: $background-inner;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &--large {
    font-size: 1.1rem;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
    background: none;
    color: $dark-grey;
    text-align: left;
    span {
      padding: 0;
    }
  }
}
