@import "variables";

footer {
  background-color: $primary;
  color: $white;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  @include gutters-padding;
  .footer__heading {
    text-transform: uppercase;
    font-size: 1.07rem;
    font-weight: 400;
    margin: 1rem 0;
  }
  ul {
    margin: 0;
    padding: 0 1rem;
  }
  a {
    color: $white;
  }
  @include for-tablet-landscape-up {
    background-image: image-url('bg/footer.png');
    background-repeat: repeat-x;
    padding-top: 90px;
  }
}

.footer__created {
  text-align: right;
  padding-top: 2rem;
}
