@import "variables";

form {
  input[type=text] {
    font-size: 1.25rem;
    width: 80%;
  }

  input[type=date] {
    font-size: 1.25rem;
  }

  input[type=file] {
    margin: 0.5rem 0;
  }

  input.form__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 99%;
  }

  .form__submit {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    display: block;
    -webkit-appearance: none;
    border-radius: 0.5rem;
    background-color: $primary;
    color: $white;
    font-weight: bold;
    margin: 1rem 0 3rem;
  }

  .form__image {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
  }
}
