@import "variables";

html {
  background: $background-outer;
}

body {
  background: $background-inner;
  margin: 0;
  padding: 0;
  @include for-tablet-landscape-up {
    margin: 0 3rem;
    border-width: 0 2px;
    border-style: solid;
    border-color: $light-grey;
  }
  @include for-desktop-up {
    max-width: 1150px;
    margin: 0 auto;
  }
}

main {
  margin-top: 1rem;
  margin-bottom: 2rem;
  @include gutters;
}

.layout--columns {
  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: $page-gutter-landscape;
  }
  @include for-desktop-up {
    grid-gap: $page-gutter-desktop;
  }
}

.layout--full {
  max-width: none;
}


aside.page {
  margin-top: 7rem;
}

aside.page.gallery {
  img {
    background-color: #f0f0f0;
  }
}

aside.garden {
  img {
    margin-bottom: 3rem;
  }
}

img {
  max-width: 100% !important
}

a.lightbox {
  text-decoration: none
}
