@import "variables";

.teasers {
  margin-top: 1rem;
}

.teaser {
  &__month {
    text-align: center;
    font-family: $garamond;
    text-transform: uppercase;
    font-weight: 400;
  }
  &__title {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
  &__body {
    margin-bottom: 2rem;
  }
  &__more {
    display: inline-block;
    margin-left: 0.75em;
    font-style: italic;
    font-weight: 600;
    color: $primary;
    &:hover {
      text-decoration: underline;
    }
  }
  + h3 {
    margin-top: 4rem;
  }
  &__images img {
    max-width: 200px;
  }
}
