@import "variables";

.teasers {
  margin-top: 1rem;
}

.teaser {
  &__month {
    text-align: center;
    font-family: $garamond;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
  &__title {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    font-style: italic;
    font-weight: 400;
    font-size: 1.8571rem;
  }
  &__body {
    margin-bottom: 2rem;
  }
  &__more {
    display: inline-block;
    margin-left: 0.75em;
    font-style: italic;
    font-weight: 600;
    color: $primary;
    &:hover {
      text-decoration: underline;
    }
  }
  + h2 {
    margin-top: 4rem;
  }
  &__images img {
    max-width: 200px;
  }
  &__gallery {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
      background-color: #f0f0f0;
    }
  }
}
