@import "variables";

html {
  font-family: $georgia;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-style: italic;
  font-weight: 400;
  a {
    text-decoration: none;
    color: $dark-grey;
  }
}

h1 {
  font-size: 2.2857rem;
}

h2 {
  font-size: 1.8571rem;
}

a {
  color: $primary;
  &:hover {
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
  margin-left: 1.5rem;
  &:before {
    content: "“"
  }
  &:after {
    content: "”"
  }
}

img, iframe {
  max-width: 100%
}
