<article>
  <h1>Blog Admin Index</h1>

  <table>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= link_to blog.title, edit_admin_blog_path(blog) %></td>
        <td><%= blog.created_at %></td>
      </tr>
    <% end %>
  </table>
</article>
