<% provide :template, 'columns' %>

<article>
  <h1>New post</h1>

  <%= form_with model: [:admin, @blog] do |f| %>
    <%= render partial: 'fields', locals: { f: f } %>
  <% end %>

</article>

<aside>

</aside>
